* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  font-weight: bold;
  font-size: 1.8em;
  padding: 1.2em 1em;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  background-color: rgb(20, 20, 20);
}

.sidebar-heading {
  display: grid;
  grid-area: 1 / 1;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

button {
  background-color: rgb(30, 30, 30);
  border: none;
  margin: 0.5em;
  padding: 1em  ;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(35, 35, 35);
}

.addProject {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1;
}

.projects-section {
  display: flex;
  flex-direction: column;
}

.addProjectModal {
  background-color: rgb(56, 56, 56);
  padding: 1em;
  color: white;
  border: none;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  width: 30vw;
}

form > * {
  margin: 0.5em;
}

#name {
  padding: 0.5em
}

input:focus {
  outline: none;
}