* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 14fr;
  height: 120vh;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: visible;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  font-weight: bold;
  font-size: 1.8em;
  padding: 1.2em 0.6em;
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 0.7fr repeat(12, 1fr);
  background-color: rgb(20, 20, 20);
}

.sidebar-heading {
  display: grid;
  grid-area: 1 / 1;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.main {
  background-color: rgb(40, 40, 40);
}

button {
  background-color: rgb(30, 30, 30);
  border: none;
  margin: 0.5em;
  padding: 1em  ;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(40, 40, 40);
}

.addProject {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-section {
  display: flex;
  flex-direction: column;
}

.projectItem {
  width: 85%;
  height: 5em;
}

.addProjectModal, .decline, .add-task-modal, .edit-task-modal {
  background-color: rgb(48, 48, 48);
  padding: 1em;
  color: white;
  border: none;
  border-radius: 8px;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  width: 30vw;
}

form > * {
  margin: 0.5em;
}

#name, #title, #description, #dueDate, #priority,
#edit-name, #edit-title, #edit-description, #edit-dueDate, #edit-priority {
  padding: 0.5em
}

#description, #dueDate,
#edit-description, #edit-dueDate {
  font-family: Arial, Helvetica, sans-serif;
}

.add-task-modal-form, .edit-task-modal-form{
  width: 35vw;
  display: flex;
  justify-content: center;
}

textarea {
  resize: none;
}

input:focus {
  outline: none;
}

.project-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5em;
}

.delete-icon {
  height: 1.2em;
  align-self: center;
  transition: 0.5s;
}

.delete-icon:hover {
  background-color: rgb(32, 32, 32);
  opacity: 0.4;
  cursor: pointer;
}

.decline-div {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.decline-close {
  margin-top: 2em;
}

.task {
  background-color: rgb(32, 32, 32);
  margin: 1em;
  padding: 1em 2em 2em 2em;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out;
  border-radius: 10px;
}

.main-title {
  margin-left: 1em;
  font-weight: bold;
  font-size: 1.15em;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.task-row-two {
  display: flex;
}

.task-priority {
  margin-right: 1em;
}

.task-title {
  padding: 0.5em 0.5em 0.5em 0;
}

.task:hover {
  background-color: rgb(28, 28, 28);
  cursor: pointer;
  transform: scale(1.005);
}

.add-task {
  background-color: rgb(40, 40, 40);
  font-size: 1em;
  font-weight: bold;
  height: 0.1em;
  width: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task:hover {
  background-color: rgb(67, 67, 67);
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-task, .edit-task {
  background-color: rgb(32, 32, 32);
  height: 1em;
  margin: 10px;
}