* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  background-color: rgb(20, 20, 20);
}

.sidebar-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.container > * {
  border: 1px solid black;
}

button {
  background-color: rgb(30, 30, 30);
  border: none;
  margin: 0.5em;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(35, 35, 35);
}